/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.light-weight {
  font-weight: 300 !important; }

.normal-weight {
  font-weight: normal !important; }

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.subheader {
  color: #777;
  font-weight: 300;
  margin-bottom: 24px;
}

footer {
  border-top: solid 1px #E6E6E6;
  padding-top: 20px;
}

footer.row {
  margin-top: 100px;
}

footer.row h6 {
  color: #6F6F6F;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

footer.row a:hover {
  text-decoration: underline;
}

footer.row a {
  color: #222;
}

/* -----------------------------------------
   Teaser
----------------------------------------- */

h3#coming-soon {
  text-transform: uppercase;
  color: #444;
  font-size: 1.6em;
}

a {
  color: #0074c5;
}

body#teaser {
  background: transparent;
}

div#mother {
  margin: 200px auto 0 auto;
}

/* -----------------------------------------
   DragDropPaste
----------------------------------------- */

div#title {
  margin-top: 70px;
}

h1.ddp-icon {
  padding-left: 50px;
  background: url(../images/ddp-icon.png);
  background-position: left center;
  background-repeat: no-repeat;
}

div#video {
  height: 350px;
}
